<template name="menuLateral">
	<div id="sideBarMenuLateral" class="ui left demo vertical inverted labeled icon sidebar menu uncover">
	  <a class="item" id="lnkResponsables">
	    <i class="users icon"></i>
	    Responsables
	  </a>
	  <a class="item">
	    <i class="block layout icon"></i>
	    Topics
	  </a>
	  <a class="item">
	    <i class="smile icon"></i>
	    Friends
	  </a>
	  <a class="item">
	    <i class="calendar icon"></i>
	    History
	  </a>
	  <a class="item">
	    <i class="mail icon"></i>
	    Messages
	  </a>
	  <a class="item">
	    <i class="chat icon"></i>
	    Discussions
	  </a>
	  <a class="item">
	    <i class="trophy icon"></i>
	    Achievements
	  </a>
	  <a class="item">
	    <i class="shop icon"></i>
	    Store
	  </a>
	  <a class="item">
	    <i class="settings icon"></i>
	    Settings
	  </a>
	</div>
</template>